body{
    background-color: black;

}
.main1{
    
}
.main{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: white;  */
    
}

.box2{
    height: 180px;
    width: 184px;
    background-color: aliceblue;
    transform: rotate(38deg);
    position: absolute;
    top: 54px;
    left: 727px;
    
    
}

.box1{
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    transform: rotate(42deg);
    position: absolute;
    top: 89px;
    left: 508px;
}




.box{
    background-color: rgb(59, 57, 57);
     height: 250px;
     width: 250px;
    
}