body{
    background-color: black;
}



.box1{
    height: 50px;
    width: 50px;
    background-color: orange;
    top: 0;
    left: 0;
    position: absolute;
    margin: auto;
}
.box2{
    height: 50px;
    width: 50px;
    background-color: orange;
    top: 0;
    left: 50vh;
    right: 50vh;
    margin: auto;
    position: absolute;
}

.box3{
    height: 50px;
    width: 50px;
    background-color: orange;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute;
}

.box4{
    height: 50px;
    width: 50px;
    background-color: white;
    top: 50vh;
    bottom: 50vh;
    left: 0;
    margin: auto;
    position: absolute;
}

.box5{
    height: 50px;
    width: 50px;
    background-color: blue;
    inset: 0;
    margin: auto;
    position: absolute;
}

.box6{
    height: 50px;
    width: 50px;
    background-color: white;
    right: 0;
    top: 50vh;
    bottom: 50vh;
    margin: auto;
    position: absolute;
}

.box7{
    height: 50px;
    width: 50px;
    background-color: green;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
}

.box8{
    height: 50px;
    width: 50px;
    background-color:   green;
    bottom: 0;
    right: 50vh;
    left: 50vh;
    margin: auto;    
    position: absolute;
}
.box8:hover{
    background-color: white;
}
.box9{
    height: 50px;
    width: 50px;
    background-color: green;
    margin: auto;
    bottom: 0;
    right: 0;
    position: absolute;
}
.box9:hover{
    background-color: orange;
   
}
